mixin stat()
	+b.stat&attributes(attributes)
		+e.item
			strong
				| 12
			p
				| designers
		+e.item
			strong
				| 500
			p
				| prints
		+e.item
			strong
				| 30000
			p
				| t-shirts pro year

