.stat
	color white
	font-family $raleway
	position absolute
	right -230px
	top 50%
	margin-top -160px

	+to-width(1000px)
		position: relative
		right: 0
		margin-top: 70px
		text-align: center
		margin-bottom: 70px

	&__item
		margin-bottom 30px

		&:last-child
			margin-bottom 0

	strong
		font-size 50px
		font-weight 700
		line-height 60px

	p
		line-height 28px

