mixin social-list()
	+b('ul').social-list&attributes(attributes)
		+e('li').item
			a(href="")
				+icon('fb')
		+e('li').item
			a(href="")
				+icon('insta')
		+e('li').item
			a(href="")
				+icon('youtube')
