.contact-form
	display block
	
	.loading .contact__button.bordered
		background #185c97 url('../img/ajax-loader.gif') no-repeat center center
		color transparent
		
	.contact__form 
		label
			&.error 
				input[type="text"], textarea
					border 1px solid #c33