.button
	display inline-block
	
	&.bordered
		&.blue
			background-color white
			border 1px solid #185c97
			padding 14px 27px 13px
			color #185c97
			font-family $raleway
			font-size 12px
			font-weight 700
			text-transform uppercase
			text-decoration none
			
			&:hover
				background-color #185c97
				color #fff
				
