mixin inner-brand()
	img(src="./assets/images/slider-logo-zebra.jpg", alt="").slider-logo
	+b.brand-slider
		+e.item		
			img(src="./assets/images/brand-slider1.jpg", alt="").image
		+e.item
			img(src="./assets/images/brand-slider2.jpg", alt="").image
		+e.item
			img(src="./assets/images/brand-slider2.jpg", alt="").image
		+e.item
			img(src="./assets/images/brand-slider2.jpg", alt="").image