mixin top-navigation()
	+b('ul').top-navigation&attributes(attributes)
		+e('li').item
			a(href="#")
				|Our story
		+e('li').item
			a(href="#")
				|philosophy
		+e('li').item
			a(href="#")
				|our brands
		+e('li').item
			a(href="#")
				|contact
