$montserrat = 'Montserrat', sans-serif
$raleway = 'Raleway', sans-serif
$lusitana = 'Lusitana', serif

body
	font-family $raleway
	font-weight 400
	line-height 28px
	font-size 16px
	background-color #f5f5f5

	> canvas
		max-width 1600px
		transform translate(-50%, 0)

.page
	>.container
		position relative
		overflow hidden