mixin inner-brands()
	+b.brands-list&attributes(attributes)
		+b.brand__item
			+e.image
				img(src="./assets/images/police-zebra-brand-img.jpg", alt="")

			+e.descr
				a(href="#")
					h3
						| Police Zebra

				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		+b.brand__item
			+e.image
				img(src="./assets/images/barbari-brand-img.jpg", alt="")

			+e.descr
				a(href="#")
					h3
						| Barbari

				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		+b.brand__item
			+e.image
				img(src="./assets/images/police-zebra-junior-brand-img.jpg", alt="")

			+e.descr
				a(href="#")
					h3
						| Police Zebra Junior

				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
