mixin timeline()
	+b.timeline&attributes(attributes)
		+e.item
			+e.date
				+b.circle
					| 2016

				+b.line

			+e.image
				img(src="http://lorempixel.com/210/300/business", alt="")

			+e.descr
				h2
					| h2

				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		+e.item
			+e.date
				+b.circle
					| 2014

				+b.line

			+e.image
				img(src="http://lorempixel.com/300/208/business", alt="")

			+e.descr
				h2
					| h2

				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		+e.item
			+e.date
				+b.circle
					| 2012

				+b.line

			+e.image
				img(src="http://lorempixel.com/300/300/business", alt="")

			+e.descr
				h2
					| h2

				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

				a.button.blue.bordered(href="#")
					|to police zebra junior catalogue
