.category-title
	display inline-block
	vertical-align top
	background -webkit-linear-gradient(180deg, rgba(23, 103, 171, 1) 0%, rgba(244, 52, 58, 1) 100%)
	-webkit-background-clip text
	-webkit-text-fill-color transparent
	color #1767ab
	// font-family $montserrat
	font-family $raleway
	font-size 180px
	font-weight 700
	text-transform uppercase