mixin brands()
	+b.brands&attributes(attributes)
		+e.item
			+icon('police_international')
		+e.item
			+icon('police_zebra')
		+e.item
			+icon('police_bodykid')
		+e.item
			+icon('police_zebra_junior')
		+e.item
			+icon('barbari')
		+e.item
			+icon('police_sister')
