.adults
	display block
	padding-top 115px
	position relative

	+to-width(1000px)
		padding-top 50px

	.container
		max-width 1130px

	.category-title
		position relative
		z-index 1

		+to-width(1000px)
			font-size 90px
			margin-left: 20px

		+to-width(800px)
			font-size 70px

		+to-width(500px)
			font-size 45px
			margin-left 20px

	&__images
		display flex
		align-items flex-end
		justify-content flex-end
		margin-top -196px
		margin-bottom 120px

		+to-width(1000px)
			margin-top -120px
			padding: 0 20px

		+to-width(800px)
			margin-top: -90px

		+to-width(500px)
			margin-top -57px
			justify-content center
			padding 0 20px
			margin-bottom 80px

	&__item
		max-width 100%
		position relative

		+to-width(1000px)
			max-width 60%

		&.small
			margin-right -80px
			margin-bottom -35px
			z-index 1

			+to-width(1000px)
				max-width 43%
				margin-right -24px
				margin-bottom -10px

	.stripes
		// background url('../images/stripes.png')  no-repeat
		width 40%
		height 629px
		display block
		position absolute
		left 0
		top 300px
		opacity 0.5

		+to-width(1000px)
			width: 250px

		+to-width(500px)
			width: 150px
			margin-top: -250px

			img
				margin-left: -30px !important
				margin-top: 60px !important

		img
			margin-top 130px
			max-width 100%
			// margin-left -60px

	.steps
		// background url('../images/big-steps.png')  no-repeat
		width 266px
		height 450px
		display block
		position absolute
		left 175px
		margin-top -225px
		opacity 0.5

		.left
			position relative
			left -145px
			right auto !important
			transform rotate(-22deg)

			+to-width(1000px)
				top: -45px
				left: 0

		.right
			position relative
			top 64px
			right auto !important
			transform rotate(-19deg)

			+to-width(1000px)
				top: -65px
				left: 30px

			+to-width(550px)
				top: -95px;
				left: 20px;
				
		+to-width(1550px)
			left 115px
			
		+to-width(1400px)
			left 80px
			
		+to-width(1300px)
			left 0

		+to-width(1000px)
			width: 70px
			height: 110px
			margin-top: -35px
			

		+to-width(700px)
			left 0

	.zebra
		// background url('../images/zebra-lg.png') no-repeat
		width 510px
		height 863px
		display block
		position absolute
		right 0
		margin-top -220px
		opacity 0.5
		overflow hidden
		
		+to-width(1450px)
			width 400px

		+to-width(1000px)
			width: 206px
			margin-top: -50px

			img
				width: 100% !important

		+to-width(550px)
			width: 106px

		img
			width 554px
			margin-left -30px
			max-width none


